body {
    background-image: url("images/StrangerThingsbackdrop.jpeg");
    background-repeat: no-repeat;
    background-color: #cccccc;
}

h1 {
    text-align: center;
    color: aliceblue;
}

#search {
    text-align: center; 
    justify-content: center;
    height: 30px;
}

#submit{
    text-align: center;
    justify-content: center ;
    background-color: black;
    color: aliceblue;
  

}

.container{
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}