body {
    background-image: url("https://imgur.com/e7EfM1V");
}

h1 {
    text-align: center;
}

.search {
    justify-content: center;
}


.container{
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}